<div class="panel panel-default w-75 mt-5" style="margin-left: 12.5%;">
   

        <div class="row gap-5">
            <div class="col-xs-12">
                <div class="text-center page-header mt-5">
                    <h1>Ocorreu um erro</h1>
                </div>
            </div>
            <hr class="w-75" style="margin-left: 12.5%;">
            <div class="row">
                <div class="col-xs-12 text-center mb-5">
                    <p>
                        Ocorreu um erro ao requisitar esta página da aplicação, favor contactar o setor de
                        desenvolvimento.
                    </p>
                    <p>Oi</p>
                </div>
            </div>
        </div>
    
</div>

